
<div class=row>
  <div class="col-sm-2">
    <h3 style=margin-top:45px>Locations</h3>
    <ul class=list-group>
      <a class=list-group-item [routerLink]="['4772354']">Mclean, VA</a>
      <a class=list-group-item [routerLink]="['5809844']">Seattle, WA</a>
      <a class=list-group-item [routerLink]="['5392171']">San Jose, CA</a>
      <a class=list-group-item [routerLink]="['4885983']">Burbank, CA</a>
      <a class=list-group-item [routerLink]="['4190598']">Dallas, TX</a>
      <a class=list-group-item [routerLink]="['4887398']">Chicago, IL</a>
    </ul>
  </div>
  <div class="col-sm-8">
    <router-outlet></router-outlet>
  </div>
</div>
